:root{
    font-family: 'Darker Grotesque',sans-serif;
}
/*Header*/
header{
    display: flex;
    background-color: rgb(100, 231, 231);
    justify-content: space-around;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header li{
    padding: 0 1em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header li .link{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #333;
    font-size: 2em;
    padding: 0.3;
}

.header li .link-imagem{
    display:flex;
    padding: 3px 0;
    height: 3em;
}

.header li :hover{
    background-clip: border-box;
    box-shadow: 0px 2px #333;
}
/*-----------Section 1--------*/
.intro{
    background-image: url("../imagens/intro.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    
}
div .titulo{
    display:flex;
    color: #fff;
    font-size: 4em;
    justify-content: center;
    text-align: center;
    padding: 2em 0 1em 0;
    text-shadow: 1px 1px 2px #000;


}

.hr-main-intro{
    width: 15%;
    border-width:3px ;
    border-color:white;
    border-style: solid ;
}

div .frase-intro{
    display: flex;
    color:#ddd;
    font-size: 2em;
    margin: auto;
    text-align: center;
    padding: 0 5em;
    padding-bottom:4em;
    text-shadow: 1px 1px 2px #000;
}
/*-----Section 2----------*/
.azul{
    background-color: #06c;
}

.section-start{
    display: flex;
    font-size: 3em;
    color: rgb(168, 155, 34);
    justify-content: center;
    text-align: center;
    padding: 1em 0;
}

.frase-sobre{
    margin: auto;
    font-size: 1.5em;
    color:#aaa;
    text-align: center;
    padding: 0 4em;
    padding-bottom: 3em;

}
/*----------Section 3----------*/
.cinza{
    background-color: #333;
}

.section-valores{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.frase-valores{
    display:block;
    color: #aaa;
    font-size: 2em;
    justify-content: center;
    width: min-content;
    padding: 0 1em;
    padding-bottom:3em ;

}

.frase-valores figure{
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
    background-size: cover;
    border-radius: 100%;
    width: 6em;
    height: 6em;
    background-color: #fff;

    
}

.frase-valores h1{
    display: flex;
    justify-content: center;
    padding: 1em 1em;
    color: #fff;
    font-size: 0.8em;
}

.frase-valores h2{
    display: flex;
    text-align: center;

}

/*------------Section 4------------*/
.beside{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    margin: auto;
}

.beside div {
    padding: 1em 1em;
    width: 30em;
    overflow: hidden;

}

.beside div .imagem{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    
    background-clip: border-box;
    box-shadow: -2em -2em 1px #06c;
    
}

.beside div .esquerda{
    text-align: left;
}

.beside div .direita{
    text-align: right;
}

.beside div h1{
    font-size: 2em;
    font-weight: bold;
}

.beside div h2{
    font-size: 0.75em;
    padding: 1em 0 2em 0;
}

.beside div h3{
    font-size: 1.5em;
}
/*-----separaçao-----*/

/*------------Footer---------*/
footer{
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mapa{
    display: flex;
    background-color: green;
    align-self: center;
}

.mapa iframe{
    display: flex;
    height: 8em;
    width: 12em;
}

.info{
    width: 50%;
    font-size: 1em;
    padding-top: 2em;
}

.info-content{
    color: #aaa;
    justify-content: center;
}
.info-content td{
    padding-bottom: 1em;
}

.info-content tfoot a{
    display: inline-flex;
    text-decoration: none;
    background-color: rgb(196, 196, 70);
    padding: 0.3em;
    text-align: center;
}

.marca{
    color: #aaa;
    padding: 1em;
}

/*-------responsivo mobile------------*/

@media only screen and (max-width:1000px){

    header{
        height: 2.5em;
    }
    .header li{
        padding: 0 0.5em;
        width:30%;
    }

    .header li .link{
        font-size: 1em;
        height: 2em;
    }

    .header li .link .link-imagem{
        height: 2em;
    }
    section{
        display:block;
        align-items: center;
        justify-items: center;
        text-align: center;
        margin: auto;
    }
    div .frase-intro{
        padding: 0 1em;
    }
    .beside{
        display:flex;
        flex-wrap: wrap;
        justify-items: center;
        padding-bottom: 2em;
    }

    div .frase-intro{
        padding: 0 1em;
        padding-bottom: 3em;
    }

    #direita{
        flex-wrap: wrap-reverse;
    }

    .beside div{
        display: block;
        padding: 1em 1em;
        margin:auto;
    }

    .beside div .esquerda{
        text-align: center;
    }

    #direita .direita{
        text-align: center;
    }
}
